@media only screen and (max-width: 414px) {
  /* 모바일 */

  /* Post 페이지 */

  /* Gallery 페이지*/
  .gallery {
    width: 414px;
    height: auto;
    background: #070e27;
    padding: 0 27px;
  }

  .gallerywrap {
    width: 86vw;
    min-height: 600px;
    padding-top: 22px;
    padding-bottom: 43px;
  }

  .gallery-nickname {
    width: 86vw;
    height: 26px;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
  }

  .gallery-group1 {
    width: 360px;
    height: auto;
  }

  .gallery-title {
    width: 300px;
    font-size: 30px;
    line-height: 37px;
    color: #ffffff;
    text-align: left;
    float: left;
    margin-bottom: 10px;
  }

  .gallery-btn {
    width: 70px;
    height: 34px;
    float: right;
    background: #0059f7;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-top: 6.5px;
    cursor: pointer;
    margin-top: 6px;
    text-align: center;
  }

  .gallery-titleinput {
    width: 278px;
    height: auto;
    background: #070e27;
    color: #ffffff;
    border: 1px solid #7c9cbf;
    border-radius: 6px;
    float: left;
    font-size: 16px;
    line-height: 42px;
    padding-left: 14px;
    padding-top: 4px;
    margin-bottom: 16px;
    text-overflow: ellipsis;
  }

  .gallery-titleinput:focus {
    outline: none;
    border: none;
  }

  .gallery-edit {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../src/img/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-delete {
    width: 18px;
    height: 18px;
    float: left;
    margin-left: 10px;
    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-group2 {
    width: 360px;
    height: auto;
  }

  .gallery-descinput {
    width: 86vw;
    height: 80px;
    margin-bottom: 30px;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 16px;
    line-height: 29px;
    background: #070e27;
    color: #ffffff;
    border: 1px solid #7c9cbf;
    border-radius: 6px;
    resize: none;
    text-overflow: ellipsis;
  }

  .gallery-descinput:focus {
    outline: none;
    border: none;
  }

  .gallery-desc {
    width: 320px;
    height: auto;
    float: left;
    font-size: 20px;
    line-height: 30px;
    color: #d0d0d0;
    text-align: left;
  }

  .gallery-likeGroup {
    height: 35px;
    width: 35px;
    float: left;
  }

  .gallery-unlike {
    width: 28px;
    height: 28px;
    margin-left: 10.5px;
    float: left;
    background: url("../src/img/Heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .gallery-like {
    width: 20px;
    height: 20px;
    margin-left: 14.5px;
    margin-top: 4px;
    float: left;
    background: url("../src/img/FullHeart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .gallery-like-comment {
    color: white;
    font-size: 13px;
    word-break: keep-all;
  }

  .gallery-group3 {
    width: 86vw;
    height: auto;
    margin-top: 19px;
    display: inline-block;
  }

  .gallery-content {
    display: inline-block;
    width: 170px;
    height: 100px;
    margin: 6px 6px 6px 0;
    cursor: pointer;
  }

  .gallery-content-img {
    width: 170px;
    height: 100px;
    object-fit: cover;
    color: white;
    position: absolute;
  }

  .gallery-content-delete {
    width: 20px;
    height: 20px;
    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
    position: absolute;
    margin-left: 140px;
    margin-top: 10px;
  }

  .gallery-nocontent-wrap {
    width: 840px;
    height: 200px;
    border: 1px solid #344583;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
    margin-top: 100px;
    padding: 40px;
  }

  .gallery-nocontent-img {
    width: 80px;
    height: 80px;
    background: url("../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
  }

  .gallery-nocontent-title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #c0c0c0;
    margin: 10px auto 0 auto;
  }

  /* 갤러리 삭제 모달*/
  .deleteModal-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    place-items: center;
  }

  .deleteModal {
    width: 271px;
    height: 277px;
    background: #0059f7;
    border-radius: 10px;
  }

  .delete-img {
    position: relative;
    top: 51px;
    left: 106px;
    width: 60px;
    height: 60px;
    background: url("../src/img/trash.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }

  .delete-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    margin: 68px auto 0 auto;
    text-align: center;
    width: 200px;
  }

  .delete-btn {
    width: 271px;
    height: 75px;
    /* margin-top: 33px; */
    padding: 28px;
    margin-bottom: 39px;
  }

  .delete-btn-ok {
    float: left;
    width: 100px;
    height: 34px;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
  }

  .delete-btn-cancel {
    float: right;
    width: 100px;
    height: 34px;
    /* margin-left: 38px; */
    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
  }

  /* 갤러리에 장면 추가 모달*/
  .addModal-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    place-items: center;
  }

  .addModal {
    width: 270px;
    height: auto;
    background: #0059f7;
    border-radius: 10px;
    text-align: center;
    position: relative;
    padding: 20px;
  }

  .add-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    margin: 40px auto 0 auto;
  }

  .add-btn {
    width: 270px;
    height: 34px;
    margin-top: 28px;
    /* display: inline-block; */
    /* position: relative; */
    padding: 0 10px;
  }

  .add-btn-ok {
    float: left;
    width: 80px;
    height: 24px;
    /* margin-left: 64px; */
    margin-top: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    cursor: pointer;
  }

  .add-btn-cancel {
    float: left;
    width: 80px;
    height: 34px;
    margin-left: 34px;
    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
  }

  .addModal-input {
    width: 220px;
    height: 40px;
    outline-style: none;
    border: none;
    line-height: 21px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 16px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .addModal-input::placeholder {
    color: #000;
    font-size: 16px;
    /* text-align: center; */
  }

  .addModal-input-drop {
    width: 220px;
    height: 40px;
    outline-style: none;
    border: none;
    line-height: 21px;
    display: inline-block;
    margin-top: 20px;
    padding-left: 16px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
  }

  .addModal-Drop {
    width: 220px;
    /* float: none; */
    background-color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0.5rem 15px;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    z-index: 3;
    font-size: 15px;
    line-height: 21px;
  }

  .addModal-Drop > li {
    color: #344583;
    cursor: pointer;
    margin-top: 3px;
    padding: 5px;
  }

  .addModal-hr {
    border: 1px solid rgb(223, 225, 229);
    margin-top: 5px;
  }

  .addModal-err {
    margin: 10px 0px;
  }

  /* ========= 이상헌 작업본 ====시작=== */
  /* === main 페이지 시작 ==== */

  /* === main 페이지 끝 ==== */

  /* === BestGallery 컴포넌트 시작 ==== */
  .BG-container {
    width: 77vw;
    height: 262.51px;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 12px;
    margin: 0 auto 5px auto;
  }

  .BG-container:hover {
    box-shadow: 0 2px 3px rgba(44, 46, 148, 0.808);
  }

  .BG-title {
    font-size: 18px;
    line-height: 21px;
    color: #787e95;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }

  .BG-img-wrap {
    width: 295px;
    height: 200.05px;
    display: flex;
    flex-flow: wrap;
  }

  .BG-img {
    width: 34.5vw;
    height: 100px;
    margin: 1px;
  }

  .BG-img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .BG-img-no {
    width: 100%;
    height: 100%;
    background: url("../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* === BestGallery 컴포넌트 끝 ==== */

  /* === GenreScene 컴포넌트 시작 ==== */
  .genre-img {
    width: 41vw;
    height: 103px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
  }

  .genre-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }

  .genre-img > img:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.8);
  }
  /* === GenreScene 컴포넌트 끝 ==== */

  /* === search 페이지 시작 ==== */
  .search-container {
    background-color: #070e27;
  }

  .search-devider {
    width: 360px;
    height: 0px;
    border: 1px solid #3a456f;
    margin: 0 auto;
  }

  .search-wrap {
    margin-top: 28px;
    width: 88vw;
    min-height: 500px;
    color: #fff;
    margin-bottom: 30px;
  }

  .search-results {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
    margin-bottom: 38px;
  }

  .results-text {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 17px;
    margin-top: 40px;
  }

  /* === search 페이지 끝 ==== */

  /* === ResultScene 컴포넌트 시작 ==== */

  /* ResultScene 검색결과 장면 */
  .result-scene-wrap {
    width: 88vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }

  .result-scene-img {
    width: 41vw;
    height: 100px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
  }

  .result-scene-img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
  }

  /* 검색결과 없는 경우 컴포넌트 */
  .no-results-wrap {
    width: 88vw;
    height: 160px;
    border: 1px solid #344583;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
  }

  .no-results-icon {
    background: url("./img/noresult.png");
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 20px;
  }

  .no-results-text {
    font-size: 18px;
    line-height: 22px;
    color: #c0c0c0;
  }
  /* === ResultScene 컴포넌트 끝==== */

  /* === ResultGallery 컴포넌트 시작 ==== */

  .RG-container {
    width: 85vw;
    height: 270px;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 11px;
    margin: 0px 10px 10px 0px;
  }

  .RG-container:hover {
    box-shadow: 0 2px 3px rgba(44, 46, 148, 0.808);
  }

  .RG-title {
    font-size: 18px;
    line-height: 21px;
    color: #787e95;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    letter-spacing: -1px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }

  .RG-img-wrap {
    width: 330px;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .RG-img {
    width: 38vw;
    height: 100px;
    margin: 2px;
  }

  .RG-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .RG-img-no {
    width: 100%;
    height: 100%;
    background: url("../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  /* === ResultGallery 컴포넌트 끝 ==== */

  /* === makepost 페이지 시작 ==== */
  .MP-container {
    background-color: #070e27;
    width: 100vw;
    min-height: 500px;
    color: #fff;
    padding-bottom: 30px;
  }

  .MP-wrap {
    width: 88vw;
    min-height: 200px;
    margin: auto;
    text-align: left;
    border: 1px solid #070e27;
    padding-top: 34px;
  }

  .MP-title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 35px;
  }

  .MP-input-wrap {
    width: 88vw;
    height: 106px;
    margin: 0 auto 10px auto;
  }

  .MP-sub-title {
    color: #d4d4d4;
    font-size: 16px;
    line-height: 21px;
  }

  .MP-movie {
    width: 88vw;
    height: 52px;
    border: 1px solid #dbe2ea;
    border-radius: 6px;
    padding: 10px;
    color: #7c9cbf;
    background-color: #fff;
    display: inline-block;
    margin-top: 7px;
    outline: none;
    font-size: 16px;
  }

  .MP-movie > input {
    width: 270px;
    height: 28px;
    outline-style: none;
    border: none;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
  }

  .MP-movie > input::placeholder {
    color: #7c9cbf;
  }

  .MP-movie-icondelete {
    background: url("./img/deleteForSearchText.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    float: right;
    cursor: pointer;
  }

  .MP-movie-icon {
    background: url("./img/Lens.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    float: right;
    cursor: pointer;
  }

  /* 드랍다운 */
  .MP-movie-DropDownContainer {
    background-color: white;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: -11px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-top: 8px;
    padding: 0.5rem 15px;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    z-index: 3;
    position: relative;
    font-size: 16px;
    line-height: 21px;
    width: 88vw;
  }

  .MP-movie-DropDownContainer > li {
    cursor: pointer;
  }

  .MP-movie-dropdown-hr {
    border: 1px solid rgb(236, 236, 236);
    margin-bottom: 3px;
  }

  #dropdown {
    text-align: center;
    margin: 7px;
    color: rgb(182, 182, 182);
    font-size: 15px;
  }

  .MP-photo-wrap {
    width: 360px;
    min-height: 100px;
    margin: 10px auto 0 auto;
  }

  .MP-photo-label {
    margin-top: 8px;
    margin-bottom: 29px;
    width: 119px;
    height: 43px;
    text-align: center;
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #000;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #e4e4e4;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: 5px;
    padding: 11px;
    cursor: pointer;
    display: inline-block;
  }

  .MP-photo-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .MP-photo-show {
    width: 88vw;
    height: 300px;
    background: #202846;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    object-fit: contain;
  }

  .MP-box-wrap {
    width: 360px;
    height: auto;
    margin: 35px auto 0 auto;
  }

  #textarea {
    width: 88vw;
    height: 120px;
    border-radius: 6px;
    padding: 16px;
    margin-top: 8px;
    color: #7c9cbf;
    font-size: 16px;
    line-height: 21px;
    outline: none;
    resize: none;
  }

  .MP-box-wrap > textarea::placeholder {
    color: #7c9cbf;
    font-size: 16px;
  }

  .MP-btn-wrap {
    background: #0059f7;
    border-radius: 8px;
    width: 160px;
    height: 56px;
    text-align: center;
    margin: 47px auto 0 auto;
  }

  .MP-btn-wrap > button {
    border-radius: 8px;
    cursor: pointer;
    width: 160px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #0059f7;
  }
  /* === makepost 페이지  끝 ==== */

  /* === makegallery 페이지  시작 ==== */
  .MG-container {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
    min-height: 500px;
  }

  .MG-wrap {
    width: 360px;
    height: 586px;
    margin: auto;
  }

  .MG-name {
    width: 360px;
    height: 106px;
    margin-bottom: 35px;
  }

  .MG-title {
    width: 360px;
    font-size: 16px;
    line-height: 21px;
    color: #d5d5d5;
  }

  .MG-name > input {
    width: 360px;
    height: 52px;
    outline-style: none;
    border: none;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    padding: 16px;
    margin-top: 8px;
  }

  .MG-name > input::placeholder {
    color: #7c9cbf;
    font-size: 16px;
  }

  .MG-desc {
    width: 360px;
    height: 174px;
    margin-bottom: 28px;
  }

  .MG-desc > textarea {
    width: 360px;
    height: 120px;
    border-radius: 6px;
    padding: 16px;
    font-size: 16px;
    line-height: 21px;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    margin-top: 8px;
  }

  .MG-desc > textarea::placeholder {
    color: #7c9cbf;
    font-size: 16px;
  }

  .MG-btn {
    width: 160px;
    height: 56px;
    background: #0059f7;
    border-radius: 8px;
    margin: 60px auto;
  }

  .MG-btn > button {
    border-radius: 8px;
    cursor: pointer;
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #0059f7;
  }
  /* === makegallery 페이지  끝 ==== */

  /* === mygallery 페이지 시작 ==== */
  .my-g-container {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
  }

  .my-g-wrap {
    width: 88vw;
    height: auto;
    margin: auto;
    text-align: left;
    padding-bottom: 20px;
  }

  .my-g-title-wrap {
    display: flex;
    justify-content: space-between;
  }

  .my-g-title {
    margin-top: 34px;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin-left: 1vw;
  }

  .my-g-user-wrap {
    margin-top: 34px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: right;
  }

  .my-g-account-icon {
    width: 18px;
    height: 18px;
    background: url("./img/account.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 9px;
    margin-right: 10px;
  }

  .my-g-account-name {
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-decoration-line: underline;
    color: #ffffff;
    float: right;
    margin-top: 8px;
    cursor: pointer;
  }

  .my-g-hr {
    border: 1px solid #3a456f;
    width: 88vw;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .my-g-scene-wrap {
    width: 88vw;
    margin-bottom: 40px;
  }

  .my-g-sub-title {
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 1vw;
  }

  .my-g-add-wrap {
    width: 110px;
    height: 30px;
    float: right;
    text-align: right;
  }

  .my-g-add-text {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
  }

  .my-g-add-icon {
    width: 25px;
    height: 25px;
    background: url("./img/Add_fff.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    float: right;
    margin-right: 12px;
  }

  /* 나의 장면들 */
  .made-scene-wrap {
    width: 88vw;
    height: auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }

  .bookmarker {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
  }

  .gallery-titleinput:focus {
    outline: none;
    border: none;
  }

  .bookmarker:hover #addTogall {
    background-color: rgba(33, 32, 37, 0.7);
    transition: 0.2s;
    width: 100%;
    height: 100%;
    opacity: 1;
    text-align: center;
    line-height: 120px;
    border-radius: 2px;
  }

  #addTogall {
    opacity: 0;
    text-align: center;
  }

  .my-g-add-list-wrap {
    width: 125px;
    height: 30px;
    float: right;
    text-align: right;
  }

  /* 좋아한 갤러리 */
  .like-gallery-container {
    width: 96vw;
    min-height: 100px;
    box-sizing: border-box;
    border-radius: 4.86133px;
    display: flex;
    flex-wrap: wrap;
  }

  .like-gallery-item {
    width: auto;
    height: auto;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 11px;
    margin-top: 20px;
    margin-right: 25px;
  }

  .no-results-text {
    font-size: 18px;
    line-height: 22px;
    color: #c0c0c0;
  }

  .my-g-like-hr {
    border: 1px solid #c3c5cc;
    width: 88vw;
    margin: 15px 0 15px 0;
  }

  .my-g-like-add-icon {
    width: 30px;
    height: 30px;
    background: url("./img/Add_fff.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    margin-right: 12px;
    display: inline-block;
  }

  .my-g-like-minus-icon {
    width: 30px;
    height: 30px;
    background: url("./img/Minus.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    margin-right: 12px;
    display: inline-block;
  }

  .my-g-like-title {
    font-size: 26px;
    line-height: 30px;
    float: left;
    cursor: pointer;
  }

  .my-g-like-no {
    color: #7c9cbf;
    margin: 5px;
  }

  /* 좋아한 장면 */
  .like-scene-wrap {
    width: 96vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  /* === mygallery 페이지 끝 ==== */

  /* ===== top button 컴포넌트==시작== */
  .topbutton {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 90px;
    padding: 12px;
    cursor: pointer;
    z-index: 9999;
  }

  .topbutton > div {
    width: 30px;
    height: 30px;
    background: url("./img/ArrowTop.png");
    background-size: contain;
  }

  .backbutton {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    left: 30px;
    bottom: 90px;
    padding: 12px;
    cursor: pointer;
    z-index: 99;
  }

  .backbutton > div {
    width: 30px;
    height: 30px;
    background: url("./img/ArrowBack.png");
    background-size: contain;
  }

  .homebutton {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    left: 30px;
    bottom: 20px;
    padding: 15px;
    cursor: pointer;
    z-index: 99;
  }

  .homebutton > div {
    width: 24px;
    height: 24px;
    background: url("./img/Home.png");
    background-size: contain;
  }

  .addbutton {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    left: 184px;
    bottom: 20px;
    padding: 15px;
    cursor: pointer;
    z-index: 99;
  }

  .addbutton > div {
    width: 24px;
    height: 24px;
    background: url("./img/AddF.png");
    background-size: contain;
  }

  .userbutton {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    padding: 15px;
    cursor: pointer;
    z-index: 99;
  }

  .userbutton > div {
    width: 24px;
    height: 24px;
    background: url("./img/UserF.png");
    background-size: contain;
  }

  /* ===== top button 컴포넌트==끝== */

  /* ===== AllGallery 페이지 ==시작== */
  .allGallery-back {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
  }

  .allGallery-wrap {
    width: 100vw;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
  }

  .allGallery-gallery {
    padding-top: 34px;
    width: 88vw;
    height: auto;
    margin: 0 auto;
  }

  .allGallery-text {
    font-size: 32px;
    text-align: left;
    margin-bottom: 28px;
    width: 250px;
    display: inline-block;
  }
  /* ===== AllGallery 페이지 ==끝== */

  /* ===== AllScenes 페이지 ==시작== */
  .allScene-back {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
  }

  .allScene-wrap {
    width: 100vw;
    height: auto;
    margin: auto;
    padding-bottom: 20px;
  }

  .allScene-genre {
    width: 88vw;
    margin: 34px auto 30px auto;
  }

  .allScene-text {
    font-size: 32px;
    text-align: left;
    margin-bottom: 28px;
    width: 200px;
    display: inline-block;
  }

  .allScene-category-wrap {
    height: 100%;
    width: 88vw;
    text-align: left;
    margin: 0px auto;
  }

  .allScene-img-wrap {
    padding-bottom: 20px;
    width: 96vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
  }
  /* ===== AllScenes 페이지 ==끝== */

  /* ===== LoadingIndicator 컴포넌트 ==시작== */

  /* ===== LoadingIndicator 컴포넌트 ==끝== */
  .loading-wrap {
    z-index: 999;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(13, 14, 44, 1);
    display: grid;
    place-items: center;
  }

  .loading {
    width: 100vw;
    height: 100%;
  }
  /* ========= 이상헌 작업본 ====끝=== */
}
