.gallery {
  width: 100vw;
  height: auto;
  background: #070e27;
}

.gallerywrap {
  width: 840px;
  min-height: 700px;
  margin: 0px auto 0px auto;
  padding-top: 43px;
  padding-bottom: 43px;
}

.gallery-nickname {
  width: 360px;
  height: 26px;

  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
}

.gallery-group1 {
  width: 840px;
  height: 40px;
  /* margin-top: 10px; */
}

.gallery-title {
  width: 730px;
  height: 34px;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
  text-align: left;
  float: left;
}

.gallery-btn {
  width: 100px;
  height: 48px;
  float: left;
  background: #0059f7;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 13px;
  cursor: pointer;
  margin-left: 115px;
  margin-top: 6px;
  text-align: center;
}

.gallery-titleinput {
  width: 620px;
  height: 69px;
  background: #070e27;
  color: #ffffff;
  border: 1px solid #7c9cbf;
  border-radius: 6px;
  float: left;
  font-size: 32px;
  line-height: 42px;
  padding-left: 14px;
  padding-top: 4px;
  margin-bottom: 16px;
}

.gallery-titleinput:focus {
  outline: none;
  border: none;
}

.gallery-edit {
  width: 40px;
  height: 40px;
  margin-left: 28px;
  float: left;
  background: url("../../src/img/pencil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.gallery-delete {
  width: 40px;
  height: 40px;
  float: left;
  background: url("../../src/img/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.gallery-group2 {
  width: 840px;
  height: auto;
  margin-top: 12px;
}

.gallery-descinput {
  width: 840px;
  height: 80px;
  margin-bottom: 30px;
  padding-left: 16px;
  padding-top: 16px;
  font-size: 22px;
  line-height: 29px;
  background: #070e27;
  color: #ffffff;
  border: 1px solid #7c9cbf;
  border-radius: 6px;
  resize: none;
  white-space: pre-wrap;
}

.gallery-descinput:focus {
  outline: none;
  border: none;
}

.gallery-desc {
  width: 765px;
  height: auto;
  float: left;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #d0d0d0;
  text-align: left;
  margin-bottom: 10px;
}

.gallery-likeGroup {
  height: 76px;
  width: 65px;
  float: left;
}

.gallery-unlike {
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  float: left;
  background: url("../../src/img/Heart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.gallery-like {
  width: 40px;
  height: 40px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  float: left;
  background: url("../../src/img/FullHeart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.gallery-like-comment {
  color: white;
  font-size: 13px;
  word-break: keep-all;
}

.gallery-group3 {
  width: 840px;
  height: auto;
  margin-top: 19px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-content {
  width: 267px;
  height: 162px;
  margin: 6px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.gallery-content-img {
  width: 267px;
  height: 162px;
  border-radius: 2px;
  object-fit: cover;
  color: white;
  position: absolute;
}

.gallery-content-delete {
  width: 40px;
  height: 40px;
  position: relative;
  background: url("../../src/img/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
  position: absolute;
  left: 227px;
}

.gallery-nocontent-wrap {
  width: 840px;
  height: 200px;
  border: 1px solid #344583;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 100px;
  padding: 40px;
}

.gallery-nocontent-img {
  width: 80px;
  height: 80px;
  background: url("../../src/img/noresult.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.gallery-nocontent-title {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #c0c0c0;
  margin: 10px auto 0 auto;
}
