// .post {
//   padding-top: 1px;
//   width: 414px;
//   height: auto;
//   background-color: #070e27;
//   top: 60px;
// }

// .postwrap {
//   width: 414px;
//   height: auto;
//   padding: 0 27px;
// }

// .post-title {
//   width: 275px;
//   height: 55px;
//   margin-top: 38px;
//   font-size: 32px;
//   line-height: 37px;
//   color: #ffffff;
//   text-align: left;
// }

// .post-editgroup {
//   width: 86vw;
//   height: 40px;
//   margin-top: -11px;
// }

// .post-edit-btn {
//   width: 50px;
//   height: 32px;
//   float: right;
//   margin-top: 5px;
//   background: #ffffff;
//   border: 1px solid #0880ae;
//   border-radius: 3px;
//   font-size: 14px;
//   line-height: 18px;
//   text-align: center;
//   color: #5a7fa8;
//   cursor: pointer;
// }

// .post-addTogall {
//   float: left;
//   cursor: pointer;
//   margin-top: 20px;
//   color: #5a7fa8;
//   font-size: 16px;
// }

// .post-add-icon {
//   background: url("../img/bookmark.png");
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
//   width: 12px;
//   height: 16px;
//   float: left;
//   margin-right: 6px;
// }

// .post-edit-edit {
//   width: 18px;
//   height: 18px;
//   float: right;
//   margin-right: 10px;
//   margin-top: 18px;
//   background: url("../../src/img/pencil.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: none;
//   cursor: pointer;
// }

// .post-edit-delete {
//   width: 18px;
//   height: 18px;
//   float: right;
//   margin-top: 18px;
//   background: url("../../src/img/delete.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: none;
//   cursor: pointer;
// }

// .post-image {
//   width: 360px;
//   height: 190px;
//   margin-top: 26px;
//   background: #ffffff;
//   object-fit: cover;
// }

// .post-label {
//   width: 86vw;
//   height: 40px;
//   margin-top: 22px;
//   display: flex;
// }

// .post-label-title {
//   width: 397px;
//   height: 33px;
//   margin-top: 7px;
//   font-weight: bold;
//   font-size: 18px;
//   line-height: 21px;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   color: #ffffff;
// }

// .post-label-like1 {
//   width: 40px;
//   height: 40px;
//   background: url("../../src/img/Heart.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   cursor: pointer;
//   margin-bottom: 10px;
// }

// .post-label-like2 {
//   width: 30px;
//   height: 30px;
//   margin-right: 4px;
//   margin-top: 6px;
//   margin-left: auto;
//   background: url("../../src/img/Off.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   cursor: pointer;
// }

// .post-desc {
//   width: 86vw;
//   height: auto;
//   margin-top: 21px;
//   font-size: 18px;
//   line-height: 21px;
//   color: #ffffff;
//   text-align: left;
// }

// pre {
//   white-space: pre-wrap; /* Since CSS 2.1 */
//   white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
//   white-space: -pre-wrap; /* Opera 4-6 */
//   white-space: -o-pre-wrap; /* Opera 7 */
//   word-wrap: break-word; /* Internet Explorer 5.5+ */
// }

// .post-editdesc {
//   background-color: #070e27;
//   color: white;
//   width: 86vw;
//   height: 200px;
//   margin-top: 21px;
//   font-size: 18px;
//   text-align: left;
//   overflow: auto;
//   padding: 14px;
//   border: 1px solid #7c9cbf;
//   border-radius: 6px;
//   resize: none;
// }

// .post-editdesc:focus {
//   border: none;
//   outline: none;
//   width: 86vw;
//   height: 200px;
// }

// .post-devider {
//   width: 360px;
//   border: 1px solid #3a456f;
//   margin-top: 42px;
// }

// .post-infogroup {
//   width: 86vw;
//   height: max-content;
//   margin-top: 14px;
//   cursor: pointer;
// }

// .post-infogroup-label {
//   width: 73px;
//   height: 25px;
//   margin-left: 12px;
//   margin-top: 4px;
//   font-size: 18px;
//   line-height: 21px;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
//   float: left;
// }

// .post-infogroup-plusminus {
//   width: 30px;
//   height: 30px;
//   margin-left: 12px;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
//   cursor: pointer;
// }

// .post-infogroup-plus {
//   width: 30px;
//   height: 30px;
//   background: url("../img/Add_fff.png");
//   background-position: center;
//   background-size: contain;
//   color: #fff;
//   display: inline-block;
// }

// .post-infogroup-minus {
//   width: 30px;
//   height: 30px;
//   background: url("../img/Minus.png");
//   background-position: center;
//   background-size: contain;
//   color: #fff;
//   display: inline-block;
// }

// .post-infogroup-wrap {
//   width: auto;
//   height: 74px;
//   margin-top: 13px;
//   margin-left: 14px;
//   font-size: 22px;
//   line-height: 32px;
//   text-align: left;
// }

// .post-infogroup-title {
//   margin-right: 10px;
//   font-weight: bold;
//   font-size: 16px;
//   line-height: 19px;
//   float: left;
//   color: rgb(214, 214, 214);
// }

// .post-infogroup-list {
//   margin-top: 5px;
//   font-size: 16px;
//   line-height: 19px;
//   margin-left: 10px;
//   color: rgb(202, 202, 202);
// }

// .post-devider2 {
//   width: 360;
//   border: 1px solid #3a456f;
//   margin-top: 17px;
// }

// .post-writecomment {
//   width: 88vw;
//   height: 70px;
//   margin-top: 37px;
// }

// .post-wc-image {
//   width: 52px;
//   height: 52px;
//   border-radius: 50%;
//   float: left;
// }

// .post-wc-input {
//   position: absolute;
//   float: left;
//   width: 68vw;
//   height: 52px;
//   margin: 1px 0 1px 18px;
//   font-weight: normal;
//   font-size: 16px;
//   background: #ffffff;
//   border-radius: 8px;
//   border-width: 0px;
//   color: black;
//   padding-left: 16px;
// }

// .post-writecomment > input::placeholder {
//   color: #7c9cbf;
// }

// .post-wc-submit {
//   width: 37px;
//   height: 26px;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 26px;
//   color: #0059f7;
//   position: relative;
//   left: 300px;
//   bottom: 36px;
//   padding-top: 14px;
//   cursor: pointer;
// }

// .post-comments {
//   width: 86vw;
//   height: auto;
//   margin-top: 21px;
//   padding-bottom: 20px;
// }

// .post-comment-no {
//   color: #7c9cbf;
//   text-align: center;
//   padding-bottom: 40px;
// }

// .post-mycomment {
//   width: 400px;
//   height: 70px;
// }

// .post-mycomment-group1 {
//   width: 50px;
//   height: 55px;
//   float: left;
// }

// .post-mycomment-group1-logo {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
// }

// .post-mycomment-group2 {
//   width: 280px;
//   height: auto;
//   float: left;
//   margin-left: 10px;
// }

// .post-mycomment-group2-nickname {
//   width: auto;
//   margin-top: 8px;
//   font-weight: bold;
//   font-size: 16px;
//   color: #ffffff;
//   text-align: left;
// }

// .post-mycomment-group2-comment {
//   margin-top: 13px;
//   font-size: 15px;
//   color: #ffffff;
//   text-align: left;
// }

// .post-mycomment-group2-delete {
//   width: 20px;
//   height: 20px;
//   background: url("../../src/img/delete.png");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: none;
//   float: right;
//   cursor: pointer;
// }

.post {
  width: 100vw;
  height: auto;
  background-color: #070e27;
  padding-top: 34px;
  color: #fff;
}

.postwrap {
  width: 840px;
  height: auto;
  margin: 0px auto 0px auto;
  padding-bottom: 100px;
}

.post-title {
  width: 840px;
  height: 51px;
  font-size: 32px;
  line-height: 37px;
  color: #ffffff;
  text-align: left;
}

.post-editgroup {
  width: 840px;
  height: 40px;
  margin-top: -11px;
}

.post-edit-btn {
  width: 50px;
  height: 32px;
  float: right;
  margin-top: 5px;
  background: #ffffff;
  border: 1px solid #0880ae;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
    0px 2px 4px rgba(44, 39, 56, 0.08);
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #5a7fa8;
  cursor: pointer;
}

.post-addTogall {
  float: left;
  cursor: pointer;
  margin-top: 20px;
  color: #5a7fa8;
  font-size: 18px;
}

.post-add-icon {
  background: url("../img/bookmark.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.post-edit-edit {
  width: 40px;
  height: 40px;
  float: right;
  background: url("../../src/img/pencil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.post-edit-delete {
  width: 40px;
  height: 40px;
  float: right;
  background: url("../../src/img/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.post-image {
  width: 840px;
  height: auto;
  margin-top: 11px;
  background: #c4c4c4;
  object-fit: cover;
}

.post-label {
  width: 840px;
  height: 40px;
  margin-top: 22px;
  display: flex;
}

.post-label-title {
  width: 397px;
  height: 33px;
  margin-top: 7px;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #ffffff;
}

.post-label-like1 {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 10px;
  background: url("../../src/img/Heart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.post-label-like2 {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 10px;
  background: url("../../src/img/FullHeart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  cursor: pointer;
}

.post-desc {
  width: 840px;
  height: auto;
  margin-top: 21px;
  font-size: 20px;
  line-height: 33px;
  color: #ffffff;
  text-align: left;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.post-editdesc {
  background-color: #070e27;
  color: white;
  width: 840px;
  height: 200px;
  margin-top: 21px;
  font-size: 28px;
  line-height: 33px;
  text-align: left;
  overflow: auto;
  padding: 14px;
  border: 1px solid #7c9cbf;
  border-radius: 6px;
  resize: none;
}

.post-editdesc:focus {
  border: none;
  outline: none;
  width: 840px;
  height: 200px;
}

.post-devider {
  width: 840px;
  height: 0px;
  border: 1px solid #3a456f;
  margin-top: 42px;
}

.post-infogroup {
  width: 500px;
  height: max-content;
  margin-top: 14px;
  cursor: pointer;
}

.post-infogroup-label {
  width: 95px;
  height: 25px;
  margin-left: 12px;
  margin-top: 4px;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
  float: left;
}

.post-infogroup-plusminus {
  width: 30px;
  height: 30px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.post-infogroup-plus {
  width: 30px;
  height: 30px;
  background: url("../img/Add_fff.png");
  background-position: center;
  background-size: contain;
  color: #fff;
  display: inline-block;
}

.post-infogroup-minus {
  width: 30px;
  height: 30px;
  background: url("../img/Minus.png");
  background-position: center;
  background-size: contain;
  color: #fff;
  display: inline-block;
}

.post-infogroup-wrap {
  width: auto;
  height: 100px;
  margin-top: 13px;
  margin-left: 14px;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
}

.post-infogroup-title {
  margin-right: 10px;
  font-weight: bold;
  float: left;
  color: rgb(214, 214, 214);
}

.post-infogroup-list {
  margin-left: 10px;
  color: rgb(202, 202, 202);
}

.post-devider2 {
  width: 840px;
  height: 0px;
  border: 1px solid #3a456f;
  margin-top: 17px;
}

.post-writecomment {
  width: 840px;
  height: 70px;
  margin-top: 37px;
}

.post-wc-image {
  width: 70px;
  height: 70px;
  margin-left: 22px;
  float: left;
  border-radius: 50%;
}

.post-wc-input {
  width: 730px;
  height: 68px;
  margin: 1px 0 1px 18px;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;

  background: #ffffff;
  border-radius: 8px;
  border-width: 0px;
  color: black;
  padding-left: 16px;
}

.post-writecomment > input::placeholder {
  color: #7c9cbf;
}

.post-wc-submit {
  width: 37px;
  height: 26px;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #0059f7;
  position: relative;
  bottom: 48px;
  left: 791px;
  cursor: pointer;
}

.post-comments {
  width: 810px;
  height: auto;
  margin-left: 30px;
  margin-top: 42px;
}

.post-comment-no {
  color: #7c9cbf;
  text-align: center;
}

.post-mycomment {
  width: 810px;
  height: 110px;
}

.post-mycomment-group1 {
  width: 60px;
  height: 110px;
  float: left;
}

.post-mycomment-group1-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.post-mycomment-group2 {
  width: 740px;
  height: auto;
  float: left;
  margin-left: 10px;
}

.post-mycomment-group2-nickname {
  width: auto;
  height: 29px;
  margin-top: 8px;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
  text-align: left;
}

.post-mycomment-group2-comment {
  width: 700px;
  height: auto;
  margin-top: 13px;

  font-size: 26px;
  line-height: 30px;

  color: #ffffff;
  text-align: left;
  word-break: break-all;
}

.post-mycomment-group2-delete {
  width: 40px;
  height: 40px;
  background: url("../../src/img/delete.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: none;
  float: right;
  cursor: pointer;
}
