#best-gallery-page {
  .BG-container {
    width: 77vw;
    height: 262.51px;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 12px;
    margin: 0 auto 5px auto;
  }

  .BG-container:hover {
    box-shadow: 0 2px 3px rgba(44, 46, 148, 0.808);
  }

  .BG-title {
    font-size: 18px;
    line-height: 21px;
    color: #787e95;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }

  .BG-img-wrap {
    width: 295px;
    height: 200.05px;
    display: flex;
    flex-flow: wrap;
  }

  .BG-img {
    width: 34.5vw;
    height: 100px;
    margin: 1px;
  }

  .BG-img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .BG-img-no {
    width: 100%;
    height: 100%;
    background: url("../../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

#like-gallery-page {
  .RG-container {
    width: 330px;
    height: 262.51px;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 11px;
    margin: 0 20px 30px 0px;
  }

  .RG-container:hover {
    box-shadow: 0 2px 3px rgba(44, 46, 148, 0.808);
  }

  .RG-title {
    font-size: 18px;
    line-height: 21px;
    color: #787e95;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }

  .RG-img-wrap {
    width: 315.49px;
    height: 200.05px;
    display: flex;
    flex-flow: wrap;
  }

  .RG-img {
    width: 150px;
    height: 100px;
    /* border: 0.1px solid gray; */
    margin: 1px;
  }

  .RG-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .RG-img-no {
    width: 100%;
    height: 100%;
    background: url("../../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

#like-scene-page {
  .result-scene-wrap {
    width: 88vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }

  .result-scene-img {
    width: 41vw;
    height: 100px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
  }

  .result-scene-img > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
  }
}
